@import "tailwindcss";

:root {
  --negro: #111111;
  --amarillo: #F5C800;
  --rojo: #CC1C1C;
  --gris: #1E1E1E;
  --gris-claro: #2A2A2A;
  --texto: #F0F0F0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #111111;
  color: #F0F0F0;
  font-family: 'Barlow', sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #F5C800;
}